body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f3f3f3;
}

.auth-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

/* LEFT PANEL */
.auth-left {
  width: 45%;
  padding: 60px;
  color: white;
  background: linear-gradient(135deg, #3a0ca3, #4361ee, #4cc9f0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-left h4 {
  opacity: 0.8;
}

.auth-left h1 {
  font-size: 36px;
  line-height: 1.3;
}

.partners {
  font-size: 13px;
  opacity: 0.8;
}

/* RIGHT PANEL */
.auth-right {
  width: 55%;
  padding: 60px;
}

.auth-right h2 {
  margin-bottom: 5px;
}

.auth-right p {
  color: #777;
  margin-bottom: 30px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.forgot {
  float: right;
  font-size: 12px;
  color: #4361ee;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  margin-bottom: 20px;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background: #4361ee;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.switch {
  margin: 20px 0;
  font-size: 14px;
}

.switch a {
  color: #4361ee;
  text-decoration: none;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #aaa;
}

.social {
  display: flex;
  gap: 15px;
}

.social button {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.google { background: white; }
.apple { background: white; }
